.headline{
    font-style: italic;
}
.accueil{
    opacity: 0.80;
    background-image: url('../components/back.jpg');
}
.default{
    opacity: 0.80;
    background-image: url('../components/default.jpg');

}
.centreAccueil{
    margin-left: auto;
    margin-right: auto;
}
.left{
    float:  left;
    padding-right: 200px ; 
}
.searchbar{
    margin: 0 auto;
    margin-top: 175px;    
}
hr{
    border: 5px solid #F59603;
    border-radius: 5px;
    width: 18em;
    
}
.v-btn:hover:before{
    opacity: 1 !important;
    background-color: #F59603;
}
.v-btn:focus:before{
    opacity: 1 !important;
    background-color: #F59603;
}
