.headline{
    font-style: italic;
}
.accueil{
    opacity: 0.80;
    background-image: url('../components/back.jpg');
}
.default{
    opacity: 0.80;
    background-image: url('../components/default.jpg');
}
.saumon{
    opacity: 1;
    background:transparent url('../components/saumon.png');
    background-size: cover;
    margin-right: 100px;    
}
.saumonAlign{
    margin-left: 1300px;
}
.buttonAlign{
    margin-left: 1320px;
}
.alignStep{
    margin-left: 1270px;
}
.alignText{
    margin-left: 1418px;
}


.saumonCard{
    margin-top: 10px;
    margin-bottom: 10px;
    border: 2px grey solid;
    height: 50px;
    width: 300px;
    border-radius: 10px;
}
.centreAccueil{
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
}

.left{
    float:  left;
    padding-right: 200px ; 
}
.searchbar{
    margin: 0 auto;
    margin-top: 170px;    
}
.connection{
    margin: 0 auto;
    margin-top: 40px;
    margin-bottom: 40px;   
    width: 450px;
    height: 60px;
    border-color: #FF9900;
}
hr{
    border: 5px solid #FF9900;
    border-radius: 5px;
    width: 18em;
    
}
.checkbox{
    width: 30px; 
    height: 30px; 
}
.v-btn:hover:before{
    opacity: 1 !important;
    background-color: #FF9900;
}
.v-btn:focus:before{
    opacity: 1 !important;
    background-color: #FF9900;
}
.class1 {
    background-color:#FF9900;
  }
  
.class2 {
    background-color: #9CBA00;           
  }
  .rounded-card{
    border-radius:50px;
}
.recetteCard{
    margin-right: 50px;
}
.btnApercu{
    margin-left:490px;
}
.apercuCard{
    margin-left: 50px;
    margin-top: 20px;
}
.pencher{
    transform: rotate(-90deg);
-moz-transform: rotate(-90deg);
-webkit-transform: rotate(-90deg);
-khtml-transform: rotate(-90deg);
-ms-transform: rotate(-90deg);
}
.tiempo1{
    margin-left: 115px;
}
.tiempo2{
    margin-left: 125px;
}