.headline{
    font-style: italic;
}
.accueil{
    background-image: url('../components/back.jpg');
}
.default{
    background-image: url('../components/default.jpg');

}
.centreAccueil{
    margin-left: auto;
    margin-right: auto;
}
